<section class="relative bg-expect text-white">
  <div class="m-6 font-normal text-2xl text-center">
    <h3><span class="font-bold">Here's what to expect</span> if you take PHEN24 <br/>
      twice a day 
      <span class="font-bold"></span>for at least 3 months...</span></h3>
  </div>
  <div class="mx-6 mb-8 border-b-3">
    <p class="font-bold">DAY 1</p>

    <p>The most common comments we receive from new PHEN24 users are "I have so much energy... all day!" and "I don't care as much about food... especially at night!"
    </p>
  </div>
</section>


{% schema %}
{
    "name": "Expectations section",
    "settings": [
    {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
    }
    ],
    "presets": [
      {
        "name": "Expectations-section"
      }
    ]
  }
{% endschema %}