
<section>
    <div class="relative bg-formula-day">
        <div class="flex justify-center items-center uppercase font-bold mt-7">
            <p class="text-sm">key ingredients inside phen24's
                </p>
                <h1 class="uppercase text-3xl">day formula</h1>
        </div>
    </div>
    <div class="flex justify-center items-center mt-7 text-center">
        <svg width="96" height="97" viewBox="0 0 96 97" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M94.5 48.5C94.5 74.4721 73.6666 95.5 48 95.5C22.3334 95.5 1.5 74.4721 1.5 48.5C1.5 22.5279 22.3334 1.5 48 1.5C73.6666 1.5 94.5 22.5279 94.5 48.5Z" stroke="white" stroke-width="3"/>
            <g clip-path="url(#clip0_1380_3)">
            <path d="M72.985 40.5822C72.9959 40.3822 73.002 40.1882 73.002 40.0001C73.0026 36.989 71.8694 34.0876 69.8278 31.8741C67.7864 29.6605 64.9864 28.2966 61.9848 28.0538C60.4074 26.6378 58.4815 25.6673 56.4048 25.2423C54.3281 24.8173 52.1757 24.9533 50.1688 25.6359C48.6088 24.537 46.7389 23.9646 44.8313 24.0017C42.9235 24.0386 41.0772 24.6833 39.5608 25.8419C38.4559 25.2886 37.2373 25.0003 36.0018 24.9999C33.1483 25.0101 30.5143 26.5325 29.0808 28.9999H29.0019C26.9224 29.0013 24.9249 29.8113 23.4319 31.2587C21.9389 32.7062 21.0674 34.6775 21.0018 36.7562C19.5268 37.9322 18.5164 39.5931 18.1502 41.4437C17.784 43.2945 18.0858 45.215 19.0018 46.8642V47.0002C19.0047 49.6515 20.0592 52.1932 21.934 54.0682C23.8086 55.943 26.3504 56.9975 29.002 57.0004C29.152 57.0004 29.302 57.0004 29.461 56.9874C30.0632 58.937 31.2499 60.6544 32.8604 61.9071C34.471 63.1599 36.4276 63.8874 38.4654 63.9911C40.5031 64.095 42.5236 63.57 44.2529 62.4874C44.5783 63.5132 45.2238 64.4077 46.0945 65.04C46.9654 65.6722 48.0158 66.0087 49.092 66.0005C49.3806 66.0003 49.6558 66.1228 49.849 66.3374L55.642 72.9734V72.9736C56.2299 73.6244 57.0649 73.9973 57.942 74.0006C58.7534 73.9998 59.5311 73.6771 60.1049 73.1035C60.6786 72.5297 61.0012 71.752 61.002 70.9406V66.9156C61.5 66.9711 62.0008 66.9994 62.502 67.0006C68.843 67.0006 74.002 62.7387 74.002 57.5006C74.0014 56.6928 73.877 55.8896 73.633 55.1195C75.4674 54.1871 76.8711 52.5826 77.5518 50.6406C78.2324 48.6986 78.1375 46.5689 77.2867 44.6951C76.4359 42.8215 74.8951 41.3482 72.985 40.5826L72.985 40.5822ZM57.932 72.0002C57.6273 71.9971 57.3377 71.8678 57.132 71.6432L51.348 65.0182C50.7513 64.3535 49.8949 63.9818 49.0019 64.0002C48.225 63.9981 47.4792 63.6945 46.9216 63.1537C46.3638 62.6129 46.0378 61.8766 46.0119 61.1002C46.4435 60.6832 46.8365 60.2282 47.1859 59.7403C48.6461 60.401 50.2088 60.8069 51.8058 60.9403C52.5295 62.3379 53.5482 63.5618 54.7914 64.5268C56.0345 65.492 57.4724 66.1756 59.0058 66.5303V70.9402C59.0048 71.2234 58.891 71.4945 58.6894 71.6935C58.4876 71.8925 58.2152 72.0029 57.932 72.0002L57.932 72.0002ZM72.002 57.5002C72.002 61.6361 67.7401 65.0002 62.502 65.0002C61.727 65.0037 60.9539 64.9264 60.1949 64.7691C57.7371 64.3523 55.5441 62.9797 54.0949 60.9512C56.3121 60.7684 58.4544 60.0631 60.3465 58.8932C62.2385 57.7233 63.8267 56.1219 64.9809 54.2201C66.8731 55.7598 69.3686 56.3426 71.7469 55.8002C71.9142 56.3514 72 56.9242 72.0019 57.5002L72.002 57.5002ZM70.002 54.0002C68.712 53.9912 67.4585 53.5707 66.4239 52.8C65.3895 52.0293 64.6278 50.9486 64.25 49.7152C64.1461 49.3752 63.8696 49.1158 63.5237 49.034C63.1776 48.9522 62.8143 49.0602 62.5692 49.3178C62.3241 49.5754 62.2342 49.9438 62.3331 50.2852C62.5962 51.1529 63.0051 51.9696 63.5421 52.7002C62.5444 54.5532 61.0761 56.1108 59.285 57.2158C57.494 58.3209 55.4434 58.9346 53.34 58.9953C51.2363 59.0559 49.1539 58.5613 47.302 57.5611C46.6055 57.1844 45.9483 56.7392 45.3401 56.2322C45.0653 56.0037 44.6895 55.9393 44.3544 56.0629C44.019 56.1865 43.7753 56.4797 43.7147 56.8318C43.6544 57.184 43.7862 57.5418 44.061 57.7701C44.4954 58.1262 44.9505 58.4561 45.4241 58.7582C44.0409 60.6156 41.9206 61.7826 39.6116 61.9574C37.3022 62.1321 35.0306 61.2975 33.3836 59.6693C31.7366 58.0412 30.876 55.7793 31.0242 53.4683C31.0474 53.1111 30.8785 52.7685 30.5808 52.5695C30.2832 52.3707 29.9019 52.3457 29.5808 52.5041C29.2597 52.6625 29.0474 52.98 29.0242 53.3373C28.9918 53.8918 29.0052 54.448 29.064 55.0004H29.0021C27.3287 54.9974 25.6982 54.4705 24.3396 53.4935C22.981 52.5168 21.9625 51.1388 21.4271 49.5533C21.7898 49.8099 22.1732 50.0361 22.5732 50.2293C22.8137 50.3506 23.0928 50.3697 23.3474 50.2824C23.6023 50.1951 23.8109 50.0088 23.9265 49.7656C24.0421 49.5222 24.0546 49.2427 23.9615 48.9902C23.8681 48.7375 23.6769 48.5332 23.431 48.4234C22.3793 47.9236 21.4959 47.1283 20.889 46.1343C20.883 46.1254 20.882 46.1132 20.8759 46.1043H20.8761C20.081 44.8006 19.815 43.242 20.133 41.7484C20.4508 40.2549 21.3281 38.9394 22.5851 38.0724L22.5961 38.0625V38.0623C23.357 37.5371 24.2291 37.1949 25.1441 37.0623C25.4978 37.0117 25.7976 36.7761 25.9305 36.4443C26.0635 36.1127 26.0094 35.7353 25.7885 35.4545C25.5678 35.1734 25.2139 35.0316 24.8602 35.0824C24.2914 35.1664 23.7334 35.3119 23.1961 35.5164C23.5256 34.2259 24.2748 33.082 25.326 32.2644C26.3772 31.4467 27.6706 31.0021 29.0022 31.0004C29.1942 31.0004 29.3852 31.0113 29.5721 31.0293H29.5852C30.2744 31.0943 30.9471 31.2799 31.5721 31.5773C31.8947 31.731 32.2748 31.7008 32.5691 31.4982C32.8635 31.2957 33.0273 30.9515 32.9992 30.5953C32.9709 30.239 32.7547 29.925 32.4322 29.7714C32.0603 29.5958 31.675 29.4499 31.2801 29.3353C32.1785 28.1614 33.4818 27.3642 34.9361 27.0989C36.3902 26.8337 37.8912 27.1193 39.1461 27.9003C39.1545 27.9046 39.1632 27.9083 39.172 27.9112C39.864 28.3411 40.4611 28.9073 40.9271 29.5753C41.0789 29.7927 41.3109 29.9411 41.572 29.9874C41.8332 30.0339 42.1021 29.9747 42.3197 29.8227C42.5371 29.671 42.6853 29.439 42.7318 29.1778C42.7781 28.9167 42.7189 28.6477 42.5671 28.4304C42.2117 27.9241 41.7986 27.461 41.3361 27.0503C43.3238 25.8044 45.8105 25.661 47.9281 26.6702C47.7711 26.7622 47.6091 26.8452 47.456 26.9442C47.1568 27.1394 46.9841 27.4794 47.0035 27.8362C47.0226 28.1929 47.2308 28.5124 47.5494 28.6741C47.8679 28.8359 48.2488 28.8153 48.5482 28.6202C49.1031 28.2591 49.6926 27.9542 50.3082 27.7103C50.3281 27.7064 50.3478 27.7013 50.3672 27.6952C52.1332 26.9995 54.0617 26.8237 55.9242 27.189C57.7871 27.5542 59.5064 28.445 60.8789 29.7564C60.8888 29.7664 60.9029 29.7705 60.9138 29.7804C61.8273 30.6505 62.5671 31.6861 63.0939 32.8324C63.1986 33.0826 63.4004 33.2796 63.6531 33.3783C63.9059 33.4769 64.1879 33.4685 64.4344 33.3552C64.6809 33.2419 64.8707 33.0333 64.9604 32.7773C65.05 32.5212 65.0319 32.2398 64.91 31.9974C64.6684 31.4818 64.3904 30.9843 64.0779 30.5083C66.0879 31.1544 67.8412 32.4214 69.0854 34.1271C70.3296 35.8327 71.0007 37.889 71.002 40.0001C71.0003 40.3878 70.9763 40.7751 70.93 41.16V41.184C70.8317 42.0245 70.6265 42.8489 70.319 43.637C70.2227 43.8843 70.2286 44.1596 70.3352 44.4024C70.4421 44.6452 70.6409 44.8358 70.888 44.9321C71.1353 45.0284 71.4104 45.0226 71.6534 44.9157C71.8962 44.8091 72.0868 44.6103 72.1831 44.3632C72.395 43.8069 72.5652 43.2356 72.6921 42.654C74.3132 43.4659 75.4794 44.9682 75.8638 46.7399C76.2482 48.5118 75.8095 50.3624 74.6707 51.7729C73.5316 53.1837 71.8152 54.0024 70.0021 54.0001L70.002 54.0002Z" fill="white" stroke="white"/>
            <path d="M38 39C38 38.2856 38.3813 37.6252 39 37.268C39.6188 36.9107 40.3813 36.9108 41 37.268C41.6188 37.6252 42 38.2856 42 39C42 39.3573 42.1906 39.6873 42.5 39.866C42.8094 40.0447 43.1906 40.0447 43.5 39.866C43.8094 39.6873 44 39.3572 44 39C44 37.5709 43.2377 36.2504 42 35.536C40.7623 34.8213 39.2377 34.8213 38 35.536C36.7623 36.2504 36 37.5709 36 39C36 39.3573 36.1906 39.6873 36.5 39.866C36.8094 40.0447 37.1906 40.0447 37.5 39.866C37.8094 39.6873 38 39.3572 38 39Z" fill="white" stroke="white"/>
            <path d="M52 35C50.9391 35 49.9217 35.4215 49.1715 36.1715C48.4215 36.9217 48 37.9391 48 39C48 39.3572 48.1906 39.6873 48.5 39.866C48.8094 40.0447 49.1906 40.0447 49.5 39.866C49.8094 39.6873 50 39.3572 50 39C50 38.2856 50.3813 37.6252 51 37.268C51.6188 36.9107 52.3813 36.9107 53 37.268C53.6188 37.6252 54 38.2856 54 39C54 39.3572 54.1906 39.6873 54.5 39.866C54.8094 40.0447 55.1906 40.0447 55.5 39.866C55.8094 39.6873 56 39.3572 56 39C56 37.9391 55.5785 36.9217 54.8285 36.1715C54.0783 35.4215 53.0609 35 52 35Z" fill="white" stroke="white"/>
            <path d="M53.231 45.3605C52.372 46.4667 51.2775 47.3675 50.0265 47.9972C48.7755 48.6267 47.4 48.9696 46 49.0005C44.6 48.9696 43.2243 48.6266 41.9734 47.9972C40.7224 47.3675 39.6279 46.4667 38.7689 45.3605C38.5404 45.0858 38.1824 44.9538 37.8303 45.0146C37.4779 45.0751 37.1848 45.319 37.0613 45.6546C36.9377 45.99 37.0023 46.3658 37.231 46.6406C38.2759 47.9742 39.6054 49.0576 41.1226 49.8119C42.6396 50.5662 44.306 50.9722 46 51.0005C47.6939 50.972 49.3601 50.5659 50.8773 49.8117C52.3943 49.0574 53.7238 47.974 54.7689 46.6406C54.9976 46.3658 55.0623 45.99 54.9387 45.6546C54.8152 45.3191 54.522 45.0751 54.1697 45.0146C53.8175 44.9538 53.4595 45.0858 53.231 45.3605H53.231Z" fill="white" stroke="white"/>
            </g>
            <defs>
            <clipPath id="clip0_1380_3">
            <rect width="60" height="60" fill="white" transform="translate(18 19)"/>
            </clipPath>
            </defs>
            </svg>
            <p class="font-bold uppercase text-xl">L-PHENYLALANINE<span class="text-sm"><br/>
                Dieting reduces the "happy" neuro- transmitter dopamine — but this amino acid supports normal dopamine levels. [8]</span>
            </p>
    </div>
</section>
{% schema %}
{
    "name": "Formula Section",
    "settings": [
    {
        "type": "image_picker",
        "id": "phen24",
        "label": "Phen24 Image"
    },
    {
        "type": "image_picker",
        "id": "review1",
        "label": "Review 1"
    },
    {
        "type": "image_picker",
        "id": "review2",
        "label": "Review 2"
    },
    {
        "type": "image_picker",
        "id": "review3",
        "label": "Review 3"
    },
    {
        "type": "image_picker",
        "id": "review4",
        "label": "Review 4"
    },
    {
        "type": "image_picker",
        "id": "review5",
        "label": "Review 5"
    },
    {
        "type": "image_picker",
        "id": "review6",
        "label": "Review 6"
    }
    ],
    "presets": [
        {
        "name": "Formula-section"
        }
    ]
    }
{% endschema %}