<div class="relative">
    <section class="relative">
        <div class="flex flex-col relative items-center -mb-14">
            <div class="w-full bg-heading-bg justify-center relative flex text-3xl items-center mb-3 text-center font-bold z-10">
                <h1>The 24/7 Weight <br/> Loss Support The <br/>World's Been <br/>Waiting For!</h1>
            </div>
            <div class="relative flex items-center text-base mx-14 text-center z-10">
                <p>While other products assist you during 
                    the day or the night — PHEN24 doubles 
                    your fat burning power by flooding your 
                    body with metabolism boosting,  
                    appetite shrinking ingredients every hour of every day. 
                </p>
            </div>
            <div class="relative -mt-64 z-0">
                {% if section.settings.woman != blank %}
            {% include 'responsive-image' with
                    image: section.settings.woman,
                    image_class: "",
                    max_width: 375,
                    max_height: 824
            %}
            {% endif %}
            </div> 
        </div>
        <div class="relative">
            <div class="-skew-y-15 bg-orange-500 absolute min-h-300 w-full">
            </div>
            <div class="flex flex-row relative">
                <div class="flex flex-col items-start justify-center ml-6">
                    <h3 class="font-bold text-lg">THE DAY FORMULA</h3>
                    <p class="font-normal text-sm">The DAY formula kick-starts your metabolism in the morning, and keeps it going strong all day long... even if you're stuck at your desk and you can't get to the gym.
                        </p>
                </div>
                <div class="flex items-center justify-center z-100">
                    {% if section.settings.bottle1 != blank %}
                    {% include 'responsive-image' with
                        image: section.settings.bottle1,
                        image_class: "",
                        max_width: 143,
                        max_height: 267
                    %}
                    {% endif %}
                </div>
            </div>
            <div class="-skew-y-15 bg-violet-500 absolute min-h-300 w-full z-10">
            </div>
            <div class="flex flex-row relative -mb-12 z-100">
                <div class="flex items-center justify-center">
                    {% if section.settings.bottle != blank %}
                    {% include 'responsive-image' with
                        image: section.settings.bottle,
                        image_class: "object-contain",
                        max_width: 151,
                        max_height: 274
                    %}
                    {% endif %}
                </div>
                <div class="flex flex-col items-start justify-center ml-4 text-white">
                    <h3 class="font-bold text-lg">THE NIGHT FORMULA</h3>
                    <p class="font-normal text-sm">The NIGHT formula burns even more fat with special ingredients that won't keep you awake, while also helping you overcome the late night munchies that may have derailed you in the past.
                        </p>
                </div>
            </div>
        </div>
        <div class="relative z-0">
            <div class="relative">
            {% if section.settings.pair != blank %}
                {% include 'responsive-image' with
                    image: section.settings.pair,
                    image_class: "",
                    max_width: 375,
                    max_height: 777
                %}
                {% endif %}
            </div>
            <div class="object-contain"></div>
            <div class="relative -top-40 bg-violet-section-bg">
                <div class="relative mt-14 flex justify-center items-center mx-2 text-white font-normal text-sm">
                    <p>You'll be amazed at how much easier it is to lose weight when PHEN24 is revving up your metabolism 24 hours a day, 7 days a week.
                        </p>
                </div>
                <div class="relative flex justify-center items-center mx-2 text-white text-sm">
                    <p>This is your best chance to finally achieve the weight loss results you've been looking for!
                        </p>
                </div>
                <div class="w-full flex justify-center items-center relative bg-black pb-8">
                    <div class="relative flex justify-center place-items-center">
                        <a class="w-full text-lg justify-center text-black flex max-w-[43rem] items-center py-2 whitespace-nowrap px-12 rounded-20 
                        font-normal bg-green-500 uppercase" href="#some_id">
                        Order <span class="font-bold mr-2"> now</span> <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 6.5L0.75 12.9952L0.750001 0.00480889L12 6.5Z" fill="black"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>

{% schema %}
{
    "name": "Orange-skew-section",
    "settings": [
    {
        "type": "image_picker",
        "id": "woman",
        "label": "Woman Image"
    },
    {
        "type": "image_picker",
        "id": "bottle1",
        "label": "Bottle"
    },
    {
        "type": "image_picker",
        "id": "pair",
        "label": "Pair Image"
    },
    {
        "type": "image_picker",
        "id": "bottle",
        "label": "Bottle"
    }
    ],
    "presets": [
      {
        "name": "Orangeskewsection"
      }
    ]
  }
{% endschema %}