<section class="relative">
    <div class="reltive text-center mx-6 mt-4 mb-3 text-black uppercase">
        <span class="font-bold"> PHEN24</span> <br/>
        is the All-Around Best Fat Burner!
    </div>
    <div class="mt-7 mx-3 flex rounded-rounded-3 bg-all-night flex-col p-2 -z-20 text-white text-2xs">
            <div class="flex grow-2 flex-col">
                <div class="flex h-11 m-2">
                    <p></p>
                </div>
                <div class="flex m-2 grow">
                    <p>Number of natural<br/> ingredients</p>
                </div>
                <div class="flex m-2 grow"">
                    <p>Daytime fat <br/>burning formula</p>
                </div>
                <div class="flex m-2 grow"">
                    <p>Nighttime fat burning<br/>  formula</p>
                </div>
                <div class="flex m-2 grow"">
                    <p>No habit-forming<br/>  melatonin</p>
                </div>
                <div class="flex m-2 grow"">
                    <p>Buy 2 + Get 1 Free<br/>  special offer</p>
                </div>
                <div class="flex m-2 text-3xs grow"">
                    <p>100% satisfaction, 60-day<br/> money back guarantee</p>
                </div>
            </div>
            <div class="grow">

            </div>
            <div class="grow">

            </div>
            <div class="grow">

            </div>
            <div class="grow">

            </div>
    </div>
</section>


{% schema %}
{
    "name": "Table section",
    "settings": [
    {
        "type": "image_picker",
        "id": "success",
        "label": "Success Image"
    }
    ],
    "presets": [
      {
        "name": "Table-section"
      }
    ]
  }
{% endschema %}